<!Doctype html>
<html ng-app="store" >
<head>
<title>Angular js</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
</head>
<body ng-controller="StoreContoller as store">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

  <!--old 
       <p>
        {{"Hello"+"Angular"}}
    </p>
   
        <div ng-repeat="product in store.products">

        <h1>{{product.name}}</h1>
        <h2>{{product.price}}</h2>
        <p>{{product.description}}</p>
        <button ng-show="product.canPurchase">Add To Cart</button>
    </div>
       -->
  
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="product in store.products">
            <h3>
                {{product.name}}
                <em class="pull-right">{{product.price | currency}}</em>
                              
            </h3>
            <ul class="img-thumbnails clearfix">
                <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
                    <img ng-src="{{image.full}}" />
                </li>
            </ul>
            <section  ng-controller="PanelController as panel">
                <ul class="nav nav-pills">
                    <li ng-class="{active:panel.isSelected(1)}">
                        <a href="#" ng-click="panel.selectTab(1)">Description</a>
                    </li>
                    <li ng-class="{active:panel.isSelected(2)}">
                        <a href="#" ng-click="panel.selectTab(2)">Specification</a>
                    </li>
                    <li ng-class="{active:panel.isSelected(3)}">
                        <a href="#" ng-click="panel.selectTab(3)">Reviews</a>
                    </li>
                </ul>
                <div class="panel" ng-show="panel.isSelected(1)">
                    <h4>Description</h4>
                    <blockquote>{{product.description}}</blockquote>
                </div>
                <div class="panel" ng-show="panel.isSelected(2)">
                    <h4>Specification</h4>
                    <blockquote>N/A</blockquote>
                </div>
                <div class="panel" ng-show="panel.isSelected(3)">
                    <h4>Review</h4>
                    <blockquote ng-repeat="review in product.reviews">
                        <b>Starts:{{review.star}}</b>
                        {{review.body}}
                        <cite>by:{{review.author}}</cite>
                    </blockquote>
                    <form name="reviewForm">
                        <blockquote>
                            <b>Starts:{{review.star}}</b>
                            {{review.body}}
                            <cite>by:{{review.author}}</cite>
                        </blockquote>
                        <select ng-model="reviews.star">
                            <option value="1">1*</option>
                            <option value="2">2*</option>
                            <option value="3">3*</option>
                            <option value="4">4*</option>
                            <option value="5">5*</option>
                        </select>
                        <textarea ng-model="reviews.body" ng-mouseup="panel.getText()"></textarea>
                        <label>by:</label>
                        <input type="email" ng-model="reviews.author" />
                        <input type="submit" />
                    </form>
                </div>

            </section>
            
        </li>
    </ul>
</body>
</html>